<% include ../partials/header %>

<div class="breadcrumb"></div>

<div class="container adview">
    <div class="title"><%= item.title %></div>
    <div class="adAction">
        Report, Save to Favorites goes here later
    </div>
    <div class="socialMedia"></div>
    <div>
        <div class="col-md-3 ad-images">
            <img src="<%= item.image %>">
        </div>
        <div class="col-md-6 ad-description">
            <div class="ad-info">
                <ul>
                    <li>Date Listed <%= item.added.toISOString().slice(0, 10) %> </li>
                    <li>Price: <span class="ad-price">$<strong><%= item.price %></strong></span> 
                    <li>Address: <span><%= item.location.city %>, <%= item.location.postal.toUpperCase() %></span></li>
                </ul>
            </div>
            <div class="description">
                <%= item.description %>
            </div>
        </div>
        <div class="col-md-3 ad-contact-form">
            <div class="contact-form">
                <header>Contact Poster</header>
                <ul class="poster-details">
                    <li class="since">On AdBoard since 2011</li>
                    <li class="phone"><%= item.contact.phone %></li>
                    <li><input type="text" name="viewad-contact-email" title="Your Email" value-maxlength="128" placeholder="Your Email"></li>
                    <li><input type="text" name="viewad-contact-name" placeholder="Your Name"></li>
                    <li><input type="text" name="viewad-contact-phone" placeholder="Your Phone Number"></li>
                    <li><textarea name="viewad-contact-message" placeholder="Message" cols="30" rows="10"></textarea></li>
                    <li><button class="btn btn-success">Send Email</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>